p {
  text-align: center;
}

.App {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  padding: 10px;
  border: 1px solid #22313f;
  border-radius: 10px;
  box-shadow: 10px -6px 10px 1px rgba(141, 198, 255, 0.2);
  padding: 20px;
  margin-top: 64px;
}
