.form {
  display: flex;
  justify-content: center;
}

.form input[type="search"],
input[type="submit"] {
  font-family: "Montserrat";
  color: #22313f;
  width: 250px;
  border: none;
  line-height: 30px;
}

input[type="submit"] {
  font-family: "Montserrat";
  color: #34495e;
  border: 1px solid #e4f1fe;
  background: #e4f1fe;
  border-radius: 4px;
  position: relative;
  top: 1px;
  left: 0px;
}

input[type="submit"]:hover {
  color: cornflowerblue;
  background: white;
  border: 1px solid cornflowerblue;
}

input[type="search"]:focus,
input[type="submit"]:focus {
  border: none;
}
